
		  * {margin: 0px; padding: 0px;}
          html, body { width: 100%;}
          body {font-family: Verdana, Arial, Helvetica, sans-serif;color: black;}
		a.texto{margin-left: 0px;margin-top: 100px; width: 65% ;height: 300px ;border-top-left-radius: 70px;border-bottom-right-radius: 70px}
           /* la anchura de menu es 820 px, ya que 5 opcionesx162 pixels sumando 5x2pixels de margin-right es 820px */	
          #menu { text-align: center; font-size: 0.7em; padding-left: 100px ; margin: 10px auto;}
          #menu ul { list-style-type: none;}
/* los elementos ul, li son elememtos de bloque y se usa float:left para que aparezcan adyacentes*/
          #menu ul li.menupal {float:left;width: 162px;margin-right: 10px;}
/* los elementos a son elementos de línea y se usa display:block para que aparezcan en disposición horizontal*/		  
          #menu ul li a {display:block;text-decoration: none;color: #fff;background-color:#0066CC;
           border: solid 1px #fff; padding: 8px; position: relative;}
         #menu ul li:hover {position: relative}
         #menu ul li a:hover, #menu ul li:hover a.nivel1 {background-color: #0066CC;color: #000;position: relative;}
         #menu ul li a.nivel1 {display: block;position: relative;}
/* Por defecto se ocultan los submenus de las distintas opciones principales */
         #menu ul li ul {display: none;}
/* Al hacer hover sobre las opciones principales se muestran los submenus con display:block */
         #menu ul li a:hover ul, #menu ul li:hover ul {display: block;position: absolute;left: 0px;}
         #menu ul li ul li a {width: 160px; padding: 6px 0px 8px 0px; border-color: white;}
         #menu ul li ul li a:hover {border-color: black; position: relative;}
         #descripcion {float: left; width: 20%; padding: 10px;text-align: center;}
         #descripcion p { text-align: justify; }
         #contenido {margin-left: 100px;margin-top: 100px; width: 65% ;height: 300px ;border-top-left-radius: 70px;border-bottom-right-radius: 70px}
